name: My First Workflow

on: 
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Print Hello World
        run: echo "Hello from GitHub Actions!"
        
      - name: List files in repository
        run: |
          ls -la
          git branch 
          pwd
  test:
    runs-on: ubuntu-latest
    needs: build   

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Print Test Message
        run: echo "This is the second job running!"
