name: My First Workflow

on:
  push:
    branches:
      - main
  
  workflow_dispatch:
    inputs:
      username:
        description: "Enter your name"
        required: true
        default: "Sai"
      environment:
        description: "Select deployment environment"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - test
          - prod

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Print Input Parameters
        run: |
          echo "Username: ${{ github.event.inputs.username }}"
          echo "Environment: ${{ github.event.inputs.environment }}"

      - name: Print Hello World
        run: echo "Hello from GitHub Actions!"

      - name: Print inputs
        run: |
          echo "User: ${{ github.event.inputs.username }}"
          echo "Env : ${{ github.event.inputs.environment }}"

      - name: Use Secret Example
        run: echo "Using Secret Key:${{ secrets.MY_SECRET_KEY }}"
        
      - name: List files in repository
        run: |
          ls -la
          git branch 
          pwd

          cat f2.txt || echo "f2.txt not found"
          echo "++++++++++++++++++++++++++++++++++++++++++++++++++++++++"

  test:
    runs-on: ubuntu-latest
    needs: build   

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Print Test Message with Inputs
        run: |
          echo "Running test job for user: ${{ github.event.inputs.username }}"
          echo "Environment selected: ${{ github.event.inputs.environment }}"
          echo "This is the second job running!"
